@using Lab28DrawFive.Models;
@{
    ViewBag.Title = "The cards have been dealt!";
}

<h2>Dealing</h2>

<div class="jumbotron">
    <h1>Draw 5</h1>
</div>
@if (ViewBag.Cards == null)
{
    ViewBag.Message = "Shuffle the deck before beginning";



}
else
{



    for (int i = 0; i < ViewBag.Hand.Length; i++)
    {
        Card c = ViewBag.Hand[i];
                <img src="@c.Image" width="120" />


                @c.Value @c.Suit
        
    }
    <div>
       Cards remaining in deck @ViewBag.Remaining
    </div>
    <div class="btn btn-default">@Html.ActionLink("Shuffle deck", "NewDeck")</div>
    <div class="btn btn-default">@Html.ActionLink("Draw 5", "Dealing")</div>
}